.tbar-spacer {
    flex: 1 1 auto;
}

.tempLogo {
    height: 30px;
}

.footerlink {
    text-decoration: none;
    color: black;
    font-size: small;
}

.iexcellogofooter {
    width: 200px;
}

.logoimg {
    height: 60px;
}


.copyRightF {
    font-size: medium;
}

.mainfooter {
    padding: 1%;
    background-color: #e9ecef;
    z-index: 0;
}