<div class="container mx-0 px-0 mx-sm-auto px-sm-auto headercontainer">
    <mat-toolbar class="bg-white">
        <span class="topnav">Developer's Blog</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
</div>


<div class="container mx-0 px-0 mx-sm-auto px-sm-auto grandpaaparent">
    <div *ngIf="!isMobile">
        <div class="newsbg"
            style="background: url({{imageUrl}}) no-repeat center center fixed;background-size: cover;background-position: right;height: 585px;position: absolute;width: 70%;background-repeat: no-repeat;">
        </div>
    </div>

    <div *ngIf="isMobile">
        <div class="newsbg"
            style="background: url({{imageUrl}}) no-repeat center center fixed;background-size: cover;background-position: right;height: 585px;position: absolute;width: 100%;background-repeat: no-repeat;">
        </div>
    </div>

    <div class="row mx-0 px-0 mx-sm-auto px-sm-auto">
        <div class="col-12 col-lg-6 col-md-8 align-items-center">
            <div class="innnerpadding">
                <mat-card class="courseCard mat-elevation-z8">
                    <mat-card-header>
                        <mat-card-subtitle><img class="headericon" alt="JCP Icon"
                                src="https://jessecarlbergproduction.azureedge.net/images/logo.png" />
                            JC Production</mat-card-subtitle>
                        <mat-card-title>
                            <h1>
                                <span class="mainH1">
                                    {{title}}
                                </span>
                            </h1>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <span class="cmainsubheading" [innerHTML]="description"></span>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button class="ahabtn" color="accent" routerLink="/blog/{{ selectedId }}">
                            Read
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>


<div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<section id="mainblog" class="blogContainer mpadding">
    <div class="m-hero-item">
        <h2 class="c-heading-2">Recent Posts</h2>
        <h3 class="section-subheading text-muted">Check out what's new</h3>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 mt-4" *ngFor="let item of feed; let i = index">
            <mat-card class="service-card">
                <mat-card-header>
                    <mat-card-title>{{ item.title }}</mat-card-title>
                    <mat-card-subtitle>{{ item.pubDate | date }}</mat-card-subtitle>
                </mat-card-header>
                <div class="matCardImg">
                    <img mat-card-image [src]="item.thumbImageURL" class="blogImg" alt="blog image"
                        (error)="setDefaultPic(item)" routerLink="/blog/{{ item.Id }}" />
                </div>
                <mat-card-content>
                    <p>
                        {{ item.description }}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button routerLink="/blog/{{ item.Id }}">
                        Read more
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section>

<div class="marginB"></div>